In [89]:
import pandas as pd
import numpy as np

In [85]:
samples.columns

Index(['sgd.id', 'sgd.date', 'importer.id', 'declarant.id', 'country',
       'office.id', 'tariff.code', 'quantity', 'gross.weight', 'fob.value',
       'cif.value', 'total.taxes', 'illicit', 'revenue'],
      dtype='object')

In [88]:
samples.columns

Index(['year', 'month', 'day', 'OFFICE', 'IMPORTER.TIN', 'TARIFF.CODE',
       'DECLARANT.CODE', 'ORIGIN.CODE', 'CIF_USD_EQUIVALENT', 'QUANTITY',
       'GROSS.WEIGHT', 'TOTAL.TAXES.USD', 'RAISED_TAX_AMOUNT_USD', 'illicit'],
      dtype='object')

In [91]:
### This data is a synthetic data generated by GAN model
samples = pd.read_csv('synthetic-imports-declarations.csv')

In [92]:
samples

,year,month,day,OFFICE,IMPORTER.TIN,TARIFF.CODE,DECLARANT.CODE,ORIGIN.CODE,CIF_USD_EQUIVALENT,QUANTITY,GROSS.WEIGHT,TOTAL.TAXES.USD,RAISED_TAX_AMOUNT_USD,illicit
0,2014,7,22,OFFICE92,IMP826164,8703241128,DEC3207,CNTRY680,2809.0,1581.0,26494.0,647.0,-0.0,0
1,2014,4,21,OFFICE51,IMP837219,8703232926,DEC1525,CNTRY680,266140.0,1.0,3910.0,3262.0,-0.0,0
2,2013,2,29,OFFICE59,IMP117406,8517180000,DEC4146,CNTRY680,302275.0,1.0,699231.0,5612.0,-0.0,0
3,2013,7,17,OFFICE51,IMP435108,8703222900,DEC4242,CNTRY376,4160.0,1288.0,22958.0,514.0,0.0,0
4,2014,1,9,OFFICE92,IMP717900,8545200000,DEC6324,CNTRY454,239549.0,42.0,21248.0,397.0,980.0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99995,2014,10,12,OFFICE40,IMP435297,8703222900,DEC4557,CNTRY376,2621.0,18533.0,37558.0,2731.0,-0.0,0
99996,2014,8,20,OFFICE60,IMP591216,8517180000,DEC1174,CNTRY759,2226.0,1.0,1821.0,3355.0,-0.0,0
99997,2013,6,3,OFFICE87,IMP398817,3911900000,DEC6384,CNTRY881,35214.0,2837.0,8679.0,2445.0,-0.0,0
99998,2013,12,3,OFFICE51,IMP418859,8703231119,DEC6689,CNTRY759,4480.0,461.0,41359.0,546.0,-0.0,0
99999,2013,10,5,OFFICE51,IMP456549,8702101319,DEC7180,CNTRY680,10495.0,5.0,1693.0,468.0,0.0,0

In [ ]:
### Now we change it to fit the format described in our paper.

In [93]:
samples['sgd.id'] = list(range(1,100001))
samples['sgd.id'] = 'SGD'+samples['sgd.id'].astype(str)

In [94]:
# Refer to original data to generate some auxiliary columns
df = pd.read_csv("../../../Sharedfolder/Ndata.merged.anonymized.single.relabeled.csv", encoding="ISO-8859-1")

In [95]:
df = df.sample(100000)

In [96]:
df.columns

Index(['YEAR', 'OFFICE', 'SGD.NUMBER', 'SGD.DATE', 'RECEIPT.NUMBER',
       'RECEIPT.DATE', 'IMPORTER.TIN', 'DECLARANT.CODE', 'FOB.VALUE',
       'CIF.VALUE', 'TARIFF.CODE', 'TARIFF.DESCRIPTION', 'QUANTITY',
       'TOTAL.TAXES', 'GROSS.WEIGHT', 'INSPECTION.INFORMATION',
       'SELECTIVITY.LANE', 'EXCHANGERATE', 'CIF_USD_EQUIVALENT', 'illicit',
       'ISO3', 'RAISED_TAX_AMOUNT'],
      dtype='object')

In [98]:
samples['importer.id'] = samples['IMPORTER.TIN']
samples['declarant.id'] = samples['DECLARANT.CODE']
del samples['IMPORTER.TIN']
del samples['DECLARANT.CODE']

In [99]:
samples['country'] = samples['ORIGIN.CODE']
del samples['ORIGIN.CODE']

In [101]:
samples['revenue'] = samples['RAISED_TAX_AMOUNT_USD']
del samples['RAISED_TAX_AMOUNT_USD']

In [102]:
samples['total.taxes'] = samples['TOTAL.TAXES.USD']
del samples['TOTAL.TAXES.USD']

In [103]:
samples['gross.weight'] = samples['GROSS.WEIGHT']
samples['cif.value'] = samples['CIF_USD_EQUIVALENT']

In [104]:
from numpy import random
samples['fob.value'] = samples['cif.value'].apply(lambda x: x * min(random.normal(loc=0.8, scale=0.1), 1))

In [105]:
del samples['CIF_USD_EQUIVALENT']

In [106]:
samples['tariff.code'] = samples['TARIFF.CODE']
samples['quantity'] = samples['QUANTITY']
samples['gross.weight'] = samples['GROSS.WEIGHT']
samples['office.id'] = samples['OFFICE']

del samples['TARIFF.CODE']
del samples['QUANTITY']
del samples['GROSS.WEIGHT']
del samples['OFFICE']

In [109]:
del samples['year']
del samples['month']
del samples['day']

In [112]:
df.columns

Index(['YEAR', 'OFFICE', 'SGD.NUMBER', 'SGD.DATE', 'RECEIPT.NUMBER',
       'RECEIPT.DATE', 'IMPORTER.TIN', 'DECLARANT.CODE', 'FOB.VALUE',
       'CIF.VALUE', 'TARIFF.CODE', 'TARIFF.DESCRIPTION', 'QUANTITY',
       'TOTAL.TAXES', 'GROSS.WEIGHT', 'INSPECTION.INFORMATION',
       'SELECTIVITY.LANE', 'EXCHANGERATE', 'CIF_USD_EQUIVALENT', 'illicit',
       'ISO3', 'RAISED_TAX_AMOUNT'],
      dtype='object')

In [116]:
df = df[df['YEAR'] == 2013].sample(100000, replace=True)

In [117]:
samples['sgd.date'] = list(df['SGD.DATE'].sort_values())

In [118]:
samples = samples[['sgd.id','sgd.date','importer.id','declarant.id','country','office.id','tariff.code','quantity','gross.weight','fob.value','cif.value','total.taxes','illicit','revenue']]

In [127]:
samples['gross.weight'] = samples['gross.weight'].astype(int)

In [129]:
samples['fob.value'] = samples['fob.value'].astype(int)
samples['quantity'] = samples['quantity'].astype(int)
samples['cif.value'] = samples['cif.value'].astype(int)
samples['total.taxes'] = samples['total.taxes'].astype(int)
samples['revenue'] = samples['revenue'].astype(int)

In [130]:
samples

,sgd.id,sgd.date,importer.id,declarant.id,country,office.id,tariff.code,quantity,gross.weight,fob.value,cif.value,total.taxes,illicit,revenue
0,SGD1,13-01-02,IMP826164,DEC3207,CNTRY680,OFFICE92,8703241128,1581,26494,2390,2809,647,0,0
1,SGD2,13-01-02,IMP837219,DEC1525,CNTRY680,OFFICE51,8703232926,1,3910,204098,266140,3262,0,0
2,SGD3,13-01-02,IMP117406,DEC4146,CNTRY680,OFFICE59,8517180000,1,699231,302275,302275,5612,0,0
3,SGD4,13-01-02,IMP435108,DEC4242,CNTRY376,OFFICE51,8703222900,1288,22958,3019,4160,514,0,0
4,SGD5,13-01-02,IMP717900,DEC6324,CNTRY454,OFFICE92,8545200000,42,21248,156348,239549,397,1,980
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99995,SGD99996,13-12-31,IMP435297,DEC4557,CNTRY376,OFFICE40,8703222900,18533,37558,2319,2621,2731,0,0
99996,SGD99997,13-12-31,IMP591216,DEC1174,CNTRY759,OFFICE60,8517180000,1,1821,1746,2226,3355,0,0
99997,SGD99998,13-12-31,IMP398817,DEC6384,CNTRY881,OFFICE87,3911900000,2837,8679,30706,35214,2445,0,0
99998,SGD99999,13-12-31,IMP418859,DEC6689,CNTRY759,OFFICE51,8703231119,461,41359,2413,4480,546,0,0
99999,SGD100000,13-12-31,IMP456549,DEC7180,CNTRY680,OFFICE51,8702101319,5,1693,9463,10495,468,0,0

In [136]:
max(samples[samples.illicit == 0]['revenue'])

0

In [137]:
samples.to_csv('synthetic-imports-declarations.csv', index=False)