### Weekly Custom Selection by DATE and its Comparison with Other Algorithms

In this script, we compared the prediction results of XGB, XGB+LR, DATE_CLS, and DATE_REV model. <br>Customs administrations will run DATE daily, or weekly, and select highly-fraudulent transactions to inspect.

In [1]:
import pandas as pd
import numpy as np

In [2]:
pd.set_option('display.max_columns', 50)
pd.set_option('display.max_rows', 50)

Weekly import data (For safety concern, full data is not uploaded in our repository)

In [14]:
df2 = pd.read_csv('./weekly-data/week1_ano.csv')

In [32]:
len(df2)

2124

In [15]:
df2.columns

Index(['SGD_NUM', 'SGD_DATE', 'RECEIPT_NUM', 'IMPORTER_TIN', 'IMPORTER_NAME',
       'DECLARANT_CODE', 'DECLARANT_NAME', 'OFFICE_CODE', 'ORIGIN_CODE',
       'HSCODE', 'ITM_NUM', 'INITIAL_ITM_QTY', 'INITIAL_ITM_WEIGHT',
       'INITIAL_ITM_FOB', 'INITIAL_ITM_CIF', 'INITIAL_ITM_TOTAL_TAX',
       'INITIAL_TOTAL_TAX', 'key_identifier'],
      dtype='object')

In [16]:
df2.head(5)

,SGD_NUM,SGD_DATE,RECEIPT_NUM,IMPORTER_TIN,IMPORTER_NAME,DECLARANT_CODE,DECLARANT_NAME,OFFICE_CODE,ORIGIN_CODE,HSCODE,ITM_NUM,INITIAL_ITM_QTY,INITIAL_ITM_WEIGHT,INITIAL_ITM_FOB,INITIAL_ITM_CIF,INITIAL_ITM_TOTAL_TAX,INITIAL_TOTAL_TAX,key_identifier
0,C12861,2020-04-18T00:00:00Z,R14335,IMPW2166,IMPNAMEW2226,DEC6463,IMPW129,OFFICE92,CNTRY277,2621900000,43831,91,182273.00,3025932,8776321,1242677,1242677,C12861_2020-04-18_OFFICE92_43831_2621900000
1,C12862,2020-04-18T00:00:00Z,R14334,IMPW2166,IMPNAMEW2226,DEC6463,IMPW129,OFFICE92,CNTRY277,8205100000,43862,5,1521.00,8775209,9505047,1951623,2184755,C12862_2020-04-18_OFFICE92_43862_8205100000
2,C12862,2020-04-18T00:00:00Z,R14334,IMPW2166,IMPNAMEW2226,DEC6463,IMPW129,OFFICE92,CNTRY277,8465990000,43863,5,1521.00,3177522,3441975,233132,2184755,C12862_2020-04-18_OFFICE92_43863_8465990000
3,C12865,2020-04-18T00:00:00Z,R14045,IMP323400,IMPNAMEW7157,DEC8458,DECNAMEW388,OFFICE92,CNTRY759,8484100000,43922,6,334.25,6371047,6371047,85471,508254,C12865_2020-04-18_OFFICE92_43922_8484100000
4,C12865,2020-04-18T00:00:00Z,R14045,IMP323400,IMPNAMEW7157,DEC8458,DECNAMEW388,OFFICE92,CNTRY759,7318190000,43925,5,334.25,6371047,6371047,65120,508254,C12865_2020-04-18_OFFICE92_43925_7318190000

Weekly import data with prediction results (For safety concern, full data is not uploaded in our repository)

In [17]:
df3 = pd.read_csv('./weekly-data/week1_ano_result.csv')

In [20]:
df3.head(5)

,SGD_NUM,SGD_DATE,IMPORTER_TIN,DECLARANT_CODE,OFFICE_CODE,ORIGIN_CODE,HSCODE,ITM_NUM,XGB,Ranking-XGB,XGB+LR,Ranking-XGB+LR,DATE_CLS,Ranking-DATE_CLS,DATE_REV,Ranking-DATE_REV
0,C12861,2020-04-18T00:00:00Z,IMPW2166,DEC6463,OFFICE92,CNTRY277,2621900000,43831,0.007388,759,0.073774,359,0.019338,357,0.006783,293
1,C12862,2020-04-18T00:00:00Z,IMPW2166,DEC6463,OFFICE92,CNTRY277,8205100000,43862,0.019617,367,0.120060,317,0.046201,280,0.021700,264
2,C12862,2020-04-18T00:00:00Z,IMPW2166,DEC6463,OFFICE92,CNTRY277,8465990000,43863,0.003430,958,0.001457,815,0.000113,1868,-0.012125,2047
3,C12865,2020-04-18T00:00:00Z,IMP323400,DEC8458,OFFICE92,CNTRY759,8484100000,43922,0.004001,912,0.000211,1053,0.004093,572,0.001348,319
4,C12865,2020-04-18T00:00:00Z,IMP323400,DEC8458,OFFICE92,CNTRY759,7318190000,43925,0.004510,877,0.000168,1078,0.002118,675,0.000683,328

In [21]:
np.mean(df3['XGB']), np.mean(df3['XGB+LR']), np.mean(df3['DATE_CLS'])

(0.03234546777627118, 0.08514176114145311, 0.06963891604093114)

In [22]:
df3['INITIAL_ITM_CIF'] = df2['INITIAL_ITM_CIF']
df3['INITIAL_ITM_TOTAL_TAX'] = df2['INITIAL_ITM_TOTAL_TAX']

Top-10 high fraudulent transactions selected by DATE_CLS:

In [26]:
df3[['SGD_NUM', 'ORIGIN_CODE', 'HSCODE','INITIAL_ITM_CIF', 'INITIAL_ITM_TOTAL_TAX', 'DATE_CLS', 'Ranking-DATE_CLS']].sort_values(by='DATE_CLS', ascending=False).head(10)

,SGD_NUM,ORIGIN_CODE,HSCODE,INITIAL_ITM_CIF,INITIAL_ITM_TOTAL_TAX,DATE_CLS,Ranking-DATE_CLS
71,C13029,CNTRY759,3924100000,358600,0,0.999993,1
1465,C45923,CNTRY278,8703311900,18050000,0,0.999910,2
982,C45044,CNTRY680,4008111000,7140991,1458167,0.999858,3
437,C44121,CNTRY680,8708990000,96061113,0,0.999776,4
190,C13300,CNTRY825,1904100000,154577520,0,0.999726,5
195,C13309,CNTRY825,1904100000,154577520,0,0.999726,5
1779,C46331,CNTRY680,3209102000,6744814,0,0.999724,7
826,C44790,CNTRY759,3924909000,326,0,0.999651,8
1763,C46304,CNTRY759,3924909000,361,0,0.999614,9
213,C13390,CNTRY277,8402120000,722000,0,0.999598,10

Bottom-10 low fraudulent transactions selected by DATE_CLS:

In [25]:
df3[['SGD_NUM', 'ORIGIN_CODE', 'HSCODE','INITIAL_ITM_CIF', 'INITIAL_ITM_TOTAL_TAX', 'DATE_REV', 'Ranking-DATE_REV']].sort_values(by='DATE_REV', ascending=False).tail(10)

,SGD_NUM,ORIGIN_CODE,HSCODE,INITIAL_ITM_CIF,INITIAL_ITM_TOTAL_TAX,DATE_REV,Ranking-DATE_REV
259,C13535,CNTRY680,1103110000,533654,35603,-0.018681,2115
1489,C45941,CNTRY680,8436100000,16168951,1090989,-0.019718,2116
65,C13027,CNTRY680,1103110000,444345,29719,-0.019828,2117
77,C13074,CNTRY680,1103110000,444345,29719,-0.019828,2117
13,C12911,CNTRY680,1103110000,444345,29719,-0.019852,2119
86,C13110,CNTRY680,1103110000,444345,29719,-0.019876,2120
951,C44997,CNTRY317,2906120000,965573,142226,-0.020896,2121
96,C13123,CNTRY759,3402900000,13858903,4433535,-0.028144,2122
97,C13124,CNTRY759,3402900000,25947912,8313922,-0.036790,2123
218,C13397,CNTRY759,7615109000,399999,128470,-0.059058,2124

Top-10 high fraudulent transactions selected by DATE_REV. See that the prediction results of four different models are quite consistent. (Consider the total number of imports are over two thousands)

In [27]:
df3.sort_values(by='DATE_REV', ascending=False).head(10)

,SGD_NUM,SGD_DATE,IMPORTER_TIN,DECLARANT_CODE,OFFICE_CODE,ORIGIN_CODE,HSCODE,ITM_NUM,XGB,Ranking-XGB,XGB+LR,Ranking-XGB+LR,DATE_CLS,Ranking-DATE_CLS,DATE_REV,Ranking-DATE_REV,INITIAL_ITM_CIF,INITIAL_ITM_TOTAL_TAX
1465,C45923,2020-04-23T00:00:00Z,IMP878640,DEC1243,OFFICE51,CNTRY278,8703311900,43831,0.759778,5,0.994376,8,0.999910,2,0.844660,1,18050000,0
151,C13271,2020-04-22T00:00:00Z,IMP167035,DECW2128,OFFICE92,CNTRY277,8537200000,43923,0.035469,250,0.164500,277,0.989521,33,0.816893,2,63315850,5735645
213,C13390,2020-04-23T00:00:00Z,IMP167035,DECW2128,OFFICE92,CNTRY277,8402120000,43831,0.234485,93,0.426228,178,0.999598,10,0.803488,3,722000,0
144,C13264,2020-04-22T00:00:00Z,IMP167035,DECW2128,OFFICE92,CNTRY277,8544600000,43831,0.082076,176,0.356276,196,0.993732,28,0.775895,4,47644256,4311400
190,C13300,2020-04-22T00:00:00Z,IMPW843,DEC1451,OFFICE92,CNTRY825,1904100000,43831,0.224125,101,0.934511,58,0.999726,5,0.772243,5,154577520,0
195,C13309,2020-04-22T00:00:00Z,IMPW843,DEC1451,OFFICE92,CNTRY825,1904100000,43831,0.224125,101,0.934511,58,0.999726,5,0.772243,5,154577520,0
187,C13296,2020-04-22T00:00:00Z,IMP167035,DECW2128,OFFICE92,CNTRY277,8424890000,43831,0.200306,119,0.211856,247,0.998173,22,0.763678,7,652000,0
1779,C46331,2020-04-24T00:00:00Z,IMPW1174,DEC5307,OFFICE51,CNTRY680,3209102000,43831,0.263730,81,0.971779,31,0.999724,7,0.759173,8,6744814,0
1887,C46476,2020-04-24T00:00:00Z,IMP380660,DEC5307,OFFICE51,CNTRY680,7312109900,43831,0.289004,71,0.953367,42,0.999562,12,0.756173,9,9331990,0
458,C44162,2020-04-20T00:00:00Z,IMP938158,DEC1704,OFFICE51,CNTRY656,7202190000,44078,0.035285,251,0.657803,118,0.980941,38,0.737007,10,4826397,714074

Bottom-10 low fraudulent transactions selected by DATE_REV. See that the prediction results of four different models are quite consistent.

In [28]:
df3.sort_values(by='DATE_CLS', ascending=False).tail(10)

,SGD_NUM,SGD_DATE,IMPORTER_TIN,DECLARANT_CODE,OFFICE_CODE,ORIGIN_CODE,HSCODE,ITM_NUM,XGB,Ranking-XGB,XGB+LR,Ranking-XGB+LR,DATE_CLS,Ranking-DATE_CLS,DATE_REV,Ranking-DATE_REV,INITIAL_ITM_CIF,INITIAL_ITM_TOTAL_TAX
208,C13369,2020-04-23T00:00:00Z,IMP256823,DEC7588,OFFICE92,CNTRY615,1105200000,43862,0.002127,1525,0.000151,1088,0.000002,2115,-0.017046,2101,6492167,781274
264,C13539,2020-04-24T00:00:00Z,IMP256823,DEC7588,OFFICE92,CNTRY680,1103110000,43862,0.003053,1056,0.002211,777,0.000002,2116,-0.018646,2114,390337,26049
231,C13427,2020-04-23T00:00:00Z,IMP256823,DEC7588,OFFICE92,CNTRY615,1105100000,43863,0.002355,1447,0.000310,1013,0.000002,2117,-0.017673,2107,11229512,1349401
209,C13369,2020-04-23T00:00:00Z,IMP256823,DEC7588,OFFICE92,CNTRY615,1105100000,43863,0.002355,1447,0.000310,1013,0.000002,2117,-0.017673,2107,11945485,1437532
265,C13539,2020-04-24T00:00:00Z,IMP256823,DEC7588,OFFICE92,CNTRY680,1105100000,43863,0.002219,1497,0.000189,1062,0.000002,2119,-0.017876,2110,3954454,475464
14,C12911,2020-04-20T00:00:00Z,IMP256823,DEC7588,OFFICE92,CNTRY680,1105100000,43863,0.002662,1186,0.000051,1135,0.000001,2120,-0.018079,2111,8133572,979096
86,C13110,2020-04-21T00:00:00Z,IMP256823,DEC7588,OFFICE92,CNTRY680,1103110000,43862,0.002898,1105,0.000573,932,0.000001,2121,-0.019876,2120,444345,29719
13,C12911,2020-04-20T00:00:00Z,IMP256823,DEC7588,OFFICE92,CNTRY680,1103110000,43862,0.002500,1218,0.000313,1011,0.000001,2122,-0.019852,2119,444345,29719
65,C13027,2020-04-21T00:00:00Z,IMP256823,DEC7588,OFFICE92,CNTRY680,1103110000,43862,0.002554,1205,0.000453,968,0.000001,2123,-0.019828,2117,444345,29719
77,C13074,2020-04-21T00:00:00Z,IMP256823,DEC7588,OFFICE92,CNTRY680,1103110000,43862,0.002554,1205,0.000453,968,0.000001,2123,-0.019828,2117,444345,29719

#### Further Interpretation of DATE_REV 
The DATE model optimizes both fraud probability and expected revenue, denoted as y_cls and y_rev, respectively (DATE_CLS, DATE_REV in the result file). However, in the course of minimizing MSE for revenue regression, we use normalization techniques to prevent the effect of the outlier. Also, the regression is done very conservatively due to the highly imbalanced nature, e.g., 'revenue' (=RAISED_AMOUNT_TAX) of the most training cases are 0. So, it is difficult to retrieve the expected revenue with an actual scale. Therefore, DATE_REV should not be interpreted directly as expected revenue. But, their relative order -- ranking, is very reliable, that's why the seized revenue of 1% selectivity ratio was almost 50%. For the live test, we highly recommend setting up relative thresholds, e.g., nth percentile, by referring to these weekly pilot test results.